/* The UPDATED VERSION OF CSS on 9th of March 2025*/

h1, footer {
    text-align: center;
}

body {
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 110%;
    text-align: justify;
}

h1 {
    font-family: 'Playfair Display', 'Georgia', serif;
}

h2 {
    color: brown;
}

.heading-2 {
    color: burlywood;
    background-color:brown;
    font-family: 'Playfair Display', 'Georgia', serif;
}
